<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.natallialemiasheuskaya.coinmarketcap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.screens.allCoinsList.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.screens.allPortfolio.PortfolioActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="15fae269eef18008a4a8f7e979f08527736e18fd" />

        <activity android:name=".presentation.screens.myPortfolio.CoinsActivity" />
        <activity android:name=".presentation.screens.myCoin.CoinInfoActivity"/>
    </application>

</manifest>