<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.natallialemiasheuskaya.presentation.sreens.homework1">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.mainmenu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeWork1Activity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework2.HomeWork2Activity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework3.HomeWork3Activity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework4.HomeWork4Activity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework4.OwlActivity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework4.ClockActivity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework5.HomeWork5Activity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework6.HomeWork6Activity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework7.HomeWork7Activity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework8.HomeWork8Activity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.TestActivity" />
        <activity android:name="com.natallialemiasheuskaya.presentation.sreens.homework9.HomeWork9Activity"></activity>
    </application>

</manifest>